.container {
  background-image: url("../img/background2.jpg");
  background-position: center;
}

.jumbotron {
  background-image: url("../img/background3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  background-image: url("../img/background1.jpg");
}

form {
  color: yellow;
}
