.container {
  background-image: url("../img/background3.jpg");
  background-position: center;
  background-size: auto;
}

.jumbotron {
  background-image: url("../img/background2.jpg");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;

}

h1 {
  color: yellow;
}
body {
  background-image: url("../img/background1.jpg");
}

form {
  color: yellow;
}
